@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


*{
    font-size: 1em;
    line-height: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: normal;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 30px auto;
    background-color: #FFBC0E;
}

main {
    margin: auto;
    width: 992px;
    margin-top: 100px;
    border: 3px black;
    padding: 4px;
    height: auto;
    background-color: #FFFF;
}

section {
    border: 1px solid gray;
    height: auto;
    margin: 0 auto;
    height: 99%;
    padding: 4px;
}

.article-1 {
    height: 150px;
}

.mc , .mc-one{
    float: left;
}

.mc-one {
    margin-left: 20px;
    margin-top: 5px;
    font-size: 20px;
}

.article-1 > div {
    height: 50px;
    border: 1px solid black;
    margin-bottom: 3px;
}

.article-2 {
    margin-top: 15px;
    border: 1px solid black;
    height: 350px;
    padding: 10px;
}

.article-2-mainDiv {
    overflow: hidden;
    margin-top: 10px;
    padding: 0px;
}

.two-1, .two-2 {
    float: left;
    margin-right: 5px;
}

.two-1 {
    height: 240px;
    border: 1px solid black;
    width: 24%;
    margin-left: 10px;
    padding: 3px;
}

.two-2 {
    height: 300px;
    width: 72%;
    border: 1px solid black;
    padding: 1px;
}

footer {
   margin-top: 11px;
   height: 50px;
   background-color: gray;
   border: 1px solid black; 
   text-align: center;
}

.mc {
    width: 30px;
    height: 30px;
    margin-left: 30px;
}

.one {
    padding: 7px;
}

.two {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/4b/McDonald%27s_logo.svg/220px-McDonald%27s_logo.svg.png");
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: blue;
    margin-left: 15px;
}

.two-1 > p {
    font-size: 11px;
}

footer > p {
    margin-top: 10px;
}

.a-3 {
    text-align: center;
    padding: 10px;
}

.title {
    font-size: 35px;
    color: #FFFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.div-title {
    text-align: center;
    margin-bottom: 10px;
}

.title:hover {
    border-bottom: 2px solid white;
}