*{
    font-size: 1em;
    line-height: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: normal;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 30px auto;
    padding-bottom: 20px;
}

main {
    margin: auto;
    width: 992px;
    border: 3px black;
    padding: 4px;
    background-color: #FFFF;
    margin-top: 4%;
    height: 100%;
}

.operadora-section-1 {
    width: 100%;
    text-align: center;
}

.lidertel {
    width: 100px;
    height: 50px;
}

.federacion {
    width: 170px;
    height: 50px;
    margin-right: 290px;
    margin-left: 290px;
}

.vodafone {
    width: 100px;
    height: 60px;
}

.operadora-section-2{
    width: 100%;
    margin-top: 50px;
}

.iphone {
    width: 260px;
    height: 370px;
    float: left;
    margin-left: 70px;
    margin-right: 100px;
}

.operadora-section-2-p{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 70px;
    margin-bottom: 170px;
}

span {
    margin-top: 15px;
    font-size: 50px;
    color: red;
}

.operadora-section-3, .operadora-section-5 {
padding-left: 50px;
padding-right: 50px;
margin-bottom: 60px;
}

.operadora-section-3 > p, .operadora-section-5 > p {
    border: 2px dotted red;
    padding: 6px;
    color: red;
    border-radius: 10%;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}

.black {
    color: black;
    font-size: 30px;
}

.tenis {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.operadora-section-4 {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 11px;
  margin-bottom: 370px;
}

.operadora-section-4-div {
    float: left;
    margin-left: 50px;
}

h4 {
    margin-bottom: 10px;
    text-transform: uppercase;
}

.operadora-section-5 {
    margin-bottom: 90px;
}

.ooperadora-section-6 {
    margin-bottom: 70px;
}

.p-one {
    margin-top: 450px;
    text-align: center;
    text-transform: uppercase;
    color: gray;
    font-size: 26px;
}

.p-two {
    text-align: center;
    margin-top: 70px;
    font-size: 23px;
    font-weight: bold;
}

.last-section {
    margin-top: 40px;
}

.input-one {
    margin-top: 15px;
    width: 100%;
}

.last-section-div {
    margin-top: 15px;
    width: 100%;
}

.input-two {
    width: 40%;
}

.input-third {
    width: 57%;
    margin-left: 25px;
}