header {
    display: flex;
    justify-content: center;
}

.img {
    width: 80px;
    height: 90px;
}

.webcam-container {
    display: flex;
    gap: 15px;
    align-items: center;
}

.p-footer {
    text-align: right;
}

