* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

body{
    background-image: linear-gradient(to right, green , blue);
}

header {
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h1 {
    color:goldenrod;
}

.a-header {
    color: coral;
}

.a-header:hover {
    color: white;
    border-bottom: 1px solid white;
}

footer {
    margin-top: 400px;
    text-align: right;
}



