<!DOCTYPE html>
<html lang="es">

    <head>
    
        <meta charset="utf-8">
        <link rel="icon" type="image/png" href="../htmlCss/favicon.ico" sizes="16x16"/>
        <meta name="language" content="es" />
        <title>Model-Y</title>
        <meta name="Title" content= "DAM, JAVASCRIPT, PHP, HTML, CSS, XAMPP" />
        <meta name="description" content="Model-Y" />
        <meta name="keywords" content="HTML, HTML5, CSS, CSS3, JAVASCRIPT, PHP, SQL, Bases de datos, Hease, WEB, Accesibilidad" />
        <meta name="distribution" content="global" />
        <meta name="author" content="Alejandro Manznao" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="modelY.css">

    </head>

    <body>

        <main>

        <a class="title" href="../../RWD/camiseta.php">Layout</a>
            
            <section>

                <article class="article-1">

                    <div  class="one">
                       
                    </div>

                    <div class="two">

                    </div>

                    <div class="three">
                        
                    </div>

                </article>

                <article class="article-2">

                    <h1> McDonald's </h1>

                    <div class="article-2-mainDiv">

                        <div class="two-1">
                            
                        </div>

                        <div class="two-2">
                     
                        </div>

                    </div>

                </article>

                <article>
                    <h1></h1>
                    <div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </article>

                <footer>

                    

                </footer>

            </section>

        </main>

    </body>

</html>