*{
    font-size: 1em;
    line-height: 1.5em;
    font-family:"Roboto" "Open Sans" ;
    letter-spacing: normal;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 30px auto;
}

main {
    margin: auto;
    width: 992px;
    border: 1px solid black;
    padding: 4px;
    height: auto;
    background-color: white;
}

section {
    border: 1px solid black;
    height: auto;
    margin: 0 auto;
    height: 99%;
    padding: 4px;
}

.article-1 {
    height: 160px;
}

.one, .two {
    height: 60px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.three {
    height: 40px;
    border: 1px solid black;
}

.article-2 {
    margin-top: 38px;
    border: 1px black dotted;
    height: 200px;
}

.article-2-mainDiv {
    overflow: hidden;
    margin-left: 15px;
}

.two-1, .two-2 {
    float: left;
    margin-right: 5px;
}

.two-1 {
    height: 168px;
    border: 1px solid black;
    width: 750px;
}

.two-2 {
    height: 158px;
    width: 180px;
    border: 1px solid black;
    padding: 1px;
}
