* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

main {
    width: 992px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.logo {
    width: 210px;
    height: 250px;
}

h1 {
    font-size: 25px;
}

.container-two {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.container-two > div {
    width: 325px;
    height: 220px;
    background-color: #DEDEDE;
    border: 0.5px solid black;
}

.car {
    width: 300px;
    height: 170px;
}