* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    padding: 20px;
}

header {
    margin: 0 auto;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 992px;
    gap: 25px;
    margin: 0 auto;
    padding: 10px;
}

.operadora-section-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 130px;
}

.lidertel {
    width: 100px;
    height: 50px;
}

.federacion {
    width: 170px;
    height: 50px;
}

.vodafone {
    width: 100px;
    height: 60px;
}

.iphone {
    width: 290px;
    height: 300px;
}

.operadora-section-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.operadora-section-2-p{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

span {
    margin-top: 15px;
    font-size: 50px;
    color: red;
}

.operadora-section-3, .operadora-section-5 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.operadora-section-3 > p, .operadora-section-5 > p {
    border: 1px dotted red;
    color: red;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}