section {
    margin-top: 200px;
    height: 100px;
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    height: 20px;
    width: 180px;
    margin-left: 10px;
    margin-right: 10px;
}



label{
    color: black;
    font-size: 30px;
}